.success-message{
  color: #46b450;
}
.p-10{
  padding: 10px !important;
}
.my-10 {
  margin: 10px 0 !important;
}
#formaloo-admin-form{
  margin-top: 20px !important;
}
.formaloo_clipboard_btn {
  background: #007cba!important;
  border-color: #007cba!important;
}
.formaloo_clipboard_wrapper {
  display: flex;
  margin-top: 1em;
}
.formaloo_clipboard_wrapper pre {
  margin: auto 0;
  background: #f9f9f9;
  padding: 5px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.formaloo_hidden {
  display: none;
  visibility: hidden;
}
#TB_window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 90%;
  margin: 0 !important;
}
#TB_ajaxContent {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  box-sizing: border-box;
}
#edit-form-iframe, #show-result-iframe {
  height: 100vh;
  /* width: 100vw; */
}
.formaloo-get-excel-link, .formaloo-edit-link, .formaloo-create-new-form-link {
  display: flex!important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.formaloo-edit-link {
  max-width: 35px;
}
.column-excel, .formaloo-column-more-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formaloo-column-more-wrapper a:first-child {
  margin-right: 8px;
}
.column-excel .spinner {
  margin: 4px 10px!important;
}
.formaloo-show-result-button .dashicons-visibility {
  vertical-align: middle;
}
.formaloo-shortcode-post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formaloo-sign-up-wrapper {
  display: flex;
  align-items: center;
  padding-left: 0!important;
}
.formaloo-sign-up-wrapper p {
  margin: 0 10px 0 0;
}
.formaloo-api-settings-table {
  background: #FFE7E1;
  border-radius: 8px;
  display: flex;
  margin: 20px 0 !important;
}
.formaloo-api-settings-top-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background: #1f2c33;
  border-radius: 8px;
}
.formaloo-api-settings-top-wrapper h1 {
  color: white!important;
}
.formaloo-api-settings-top-wrapper img {
  width: 170px;
  height: auto;
}
.formaloo-button-black {
  background: black!important;
  border-color: black!important;
}
#formaloo-settings-submit-row {
  display: flex;
}
#formaloo-feedback-widget-submit-row {
  display: flex;
  align-items: center;
}
#formaloo-feedback-widget-submit-row .spinner {
  margin: 0;
}
.formaloo-feedback-wdiget-top-info img {
  width: 150px;
  padding-top: 10px;
}
.formaloo_feedback_widget_choice_icon {
  display: inline-block;
  padding: 20px;
  background: rgba(0,0,0,.05);
  margin-right: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}
.formaloo_feedback_widget_choice_selected {
  border: 2px solid #FFA500;
}
.formaloo_feedback_widget_choice_icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  object-fit: contain;
}
#formaloo-feedback-widget-form .form-group {
  position: relative;
}
.formaloo-feedback-widget-loading-gif-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}
#formaloo-feedback-widget-script-textarea {
  resize: none;
  overflow: hidden;
  height: 150px;
  margin-right: 10px;
}