.success-message{
  color: #46b450;
}
.p-10{
  padding: 10px !important;
}
.my-10 {
  margin: 10px 0 !important;
}
#formaloo-admin-form{
  margin-top: 20px !important;
}
.formaloo-admin-save, .formaloo_clipboard_btn {
  background: #f95c30!important;
  border-color: #f95c30!important;
}
.formaloo-download-btn, .formaloo-table-title {
  color: #f95c30;
}
.formaloo_clipboard_wrapper {
  display: flex;
}
.formaloo_clipboard_wrapper pre {
  margin: auto 0;
  background: #f9f9f9;
  padding: 5px;
}
.hidden {
  display: none;
  visibility: hidden;
}
#TB_window {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 90%;
  margin: 0 !important;
}
#TB_ajaxContent {
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  box-sizing: border-box;
}